<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <!-- 공통 헤더 -->
        <th:block th:replace="fragments/head :: headFragment"></th:block>
        <!-- 공통 nav -->
        <th:block th:replace="fragments/nav :: navFragment"></th:block>
    </head>
    <body>
        <!-- page content body -->
        <th:block layout:fragment="content"></th:block>
        <!-- 공통 푸터 -->
        <th:block th:replace="fragments/footer :: footerFragment"></th:block>
        <!-- 공통 스크립트 -->
        <th:block th:replace="fragments/script :: scriptFragment"></th:block>
    </body>
</html>