<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
  <head>
    <meta charset="UTF-8">
    <title th:text="${board.title}"></title>
  </head>
  <th:block layout:fragment="content">
    <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

<!--        <section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_4.jpg');" data-stellar-background-ratio="0.5">-->
        <section class="hero-wrap hero-wrap-2" th:style="'background-image: url(/images/bg_4.jpg)'" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-end justify-content-start">
            <div class="col-md-9 ftco-animate pb-4">
              <p class="breadcrumbs"><span class="mr-2"><a th:href="@{/}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a th:href="@{/posts}">Board <i class="ion-ios-arrow-forward"></i></a></span> <span>Post <i class="ion-ios-arrow-forward"></i></span></p>
            </div>
          </div>
        </div>
      </section>

      <section class="ftco-section">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 ftco-animate">
              <input type="hidden" id="id" th:value="${board.id}">
              <h2 th:text="${board.title}"></h2>
<!--              <div class="d-flex justify-content-end" th:text="${board.memberEntity.email}"></div>-->
              <div class="d-flex justify-content-end" th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm')}"></div>
              <div class="d-flex justify-content-end" th:text="'조회수: ' + ${board.count}"></div>
              <p th:utext="${board.content}" style="clear: both; padding: 50px 10px 50px 0px;"></p>
              <div class="tag-widget post-tag-container mb-5 mt-5" style="float: right;">
                <div class="tagcloud" th:if="${#authentication.name} == ${board.memberEntity.email}">
                  <a th:href="@{'/posts/update/' + ${board.id}}" class="tag-cloud-link">수정</a>
                  <button class="tag-cloud-link" id="btn-delete" type="button">삭제</button>
                </div>
              </div>

              <div class="about-author d-flex p-4 bg-light" style="clear:both;">
                <div class="bio" style="padding: 0px 35px 0px 25px;">
                  <img th:src="@{/images/person_default.png}" style="max-width: 75px;" alt="Image placeholder" class="img-fluid">
                </div>
                <div class="desc">
                  <h4 th:text="'🧸 ' + ${board.memberEntity.email}"></h4>
                  <h5 th:text="${board.memberEntity.name}"></h5>
                </div>
              </div>


              <div class="pt-5 mt-5">
                <h3 class="mb-5"></h3>
                <ul class="comment-list">
                  <li class="comment">
                    <div id="disqus_thread"></div>
                  </li>
                </ul>
              </div>

            </div> <!-- .col-md-8 -->
            <div class="col-lg-4 sidebar ftco-animate">
              <div class="sidebar-box ftco-animate">
                <h3 class="heading-sidebar">🔎 Recent Post</h3>
                <div class="block-21 mb-4 d-flex" th:each="recentPost : ${recentPostList}">
                  <div class="text">
                      <h3 class="heading"><a th:href="@{'/posts/' + ${recentPost.id}}"><span th:text="${recentPost.title}"></span></a></h3>
                    <div class="meta">
                      <div><span class="icon-calendar" th:text="' ' + ${#temporals.format(recentPost.createdDate, 'yyyy-MM-dd HH:mm')}"></span></div>
                      <div><span class="icon-person" th:text="' ' + ${recentPost.memberEntity.name}"></span></div>
                      <div><span class="disqus-comment-count" th:data-disqus-identifier="${recentPost.id}">0 Comments</span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> <!-- .section -->

        <!-- Disqus -->
        <script id="dsq-count-scr" src="//hyeju-board.disqus.com/count.js" async></script>
        <script th:inline="javascript">
          /**
           *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
           *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */

          var disqus_config = function () {
          // this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = [[${board.id}]]; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            this.callbacks.onNewComment = [function () { DISQUSWIDGETS.getCount({reset: true}); }];
          };

          (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://hyeju-board.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <!-- Disqus End -->
    </body>
  </th:block>
</html>