<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<th:block layout:fragment="content">
    <body>
    <section class="ftco-section">
        <div class="container">
            <div class="login-form">
                <form>
                    <div class="auth-box card">
                        <div class="card-block">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 class="text-center heading">J o i n !</h2>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-envelope fa-fw"></i>
                                        </span>
                                    </div>
                                    <input type="email" class="form-control" id="email" placeholder="Email" required="required">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-user fa-fw"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" id="name" placeholder="Name" required="required">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-lock fa-fw"></i>
                                        </span>
                                    </div>
                                    <input type="password" class="form-control" id="password" placeholder="Password" required="required">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" id="btn-user-join">Join</button>
                                </div>
                            </div>
                            <div class="or-container">
                                <div class="line-separator"></div>
                                <div class="or-label">or</div>
                                <div class="line-separator"></div>
                            </div>
                            <div class="text-center social-btn">
                                <button type="button" class="social-kakao-login" onclick="location.href='https://kauth.kakao.com/oauth/authorize?client_id=192ae19481f623fcfb044a05f17176cb&redirect_uri=http://localhost:8080/oauth/kakao/callback&response_type=code'">
                                    <span>
                                        <img src="images/kakaologo.png" style="width: 30px; height: 30px; float: left;">
                                    </span>
                                    <span style="justify-content: center; font-size: 1.5em;">
                                        카카오 로그인
                                    </span>
                                </button>
<!--                                <a href="#" class="btn btn-primary btn-block"><span class="fa fa-facebook"></span> Sign up with <b>Facebook</b></a>-->
<!--                                <a href="#" class="btn btn-info btn-block"><span class="fa fa-twitter"></span> Sign up with <b>Twitter</b></a>-->
<!--                                <a href="#" class="btn btn-danger btn-block"><span class="fa fa-google"></span> Sign up with <b>Google</b></a>-->
                            </div>
                        </div>
                    </div>
                </form>
                <div class="hint-text small">Already have an account?<a th:href="@{/login}" class="text-success"> Login Now!</a></div>
            </div>
        </div>
    </section>
    </body>
</th:block>
</html>