<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <title>게시글 수정하기</title>
</head>
<th:block layout:fragment="content">
    <body>
    <section class="ftco-section">
        <div class="container">
            <form action="/post" method="post">
                제목 : <input type="text" name="title"> <br>
                작성자 : <input type="text" name="writer"> <br>
                <textarea type="text" name="content"></textarea><br>

                <input type="submit" value="수정">
            </form>
        </div>
    </section>
    </body>
</th:block>
</html>