<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <title>게시글 수정</title>
</head>
<th:block layout:fragment="content">
<body>
    <section class="ftco-section">
        <div class="container">
            <h2 class="text-center heading" style="padding: 30px 0px 30px 0px;">🌹 글 수정 🌹</h2>
            <form>
                <input type="hidden" id="id" th:value="${board.id}">
                <input type="hidden" id="email" th:value="${board.memberEntity.email}">
                <div class="form-group">
                    <label for="title">제목</label>
                    <input type="text" class="form-control" id="title" th:value="${board.title}">
                </div>
                <div class="form-group">
                    <label for="content">내용</label>
                    <textarea type="text" class="summernote" id="content" th:text="${board.content}"></textarea>
                </div>
            </form>
            <div class="justify-content-end" style="display: flex;">
                <button type="button" id="btn-update">수정</button>
                <button type="button" th:onclick="'location.href=\'/posts/' + ${board.id} + '\''" >취소</button>
            </div>
        </div>
    </section>
</body>
</th:block>
</html>