<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <title>글쓰기</title>
</head>
<th:block layout:fragment="content">
<body>
    <section class="ftco-section">
        <div class="container">
            <h1>게시글 등록</h1>
            <form>
                <div>
                    <label for="title">제목</label>
                    <input type="text" id="title" placeholder="제목을 입력하세요">
                </div>
                <div>
                    <label for="writer">작성자</label>
                    <input type="text" id="writer" placeholder="작성자를 입력하세요">
                </div>
                <div>
                    <label for="content">내용</label>
                    <textarea type="text" id="content" placeholder="내용을 입력하세요"></textarea>
                </div>
            </form>
            <button type="button" id="btn-save">등록</button>
            <button onclick="location.href='/posts/'">취소</button>
<!--            <a th:href="@{/posts}" role="button">취소</a>-->
        </div>
    </section>
</body>
</th:block>
</html>