<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">
    <footer class="ftco-footer ftco-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Hyeju-<span><a th:href="@{/}">Board</a></span></h2>
                        <p>𝕐𝔼𝔸ℍ ! ٩( ᐛ )و</p>
                        <ul class="list-unstyled">
                            <li class="ftco-animate">
                                <i class="fa fa-envelope-open-o fa-fw"></i><span> 𝐤𝐢𝐦𝐨𝐣𝐮𝟎𝟑@𝐧𝐚𝐯𝐞𝐫.𝐜𝐨𝐦</span></li>
                            <li class="ftco-animate">
                                <i class="fa fa-github fa-fw"></i>
                                <a href="https://github.com/kimoju01"><span> 𝐤𝐢𝐦𝐨𝐣𝐮𝟎𝟏 (𝐇𝐲𝐞𝐣𝐮 𝐊𝐢𝐦)</span></a>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>
            </div>
        </div>
    </footer>
</th:block>
</html>