<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="scriptFragment">
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/jquery-migrate-3.0.1.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery.easing.1.3.js}"></script>
    <script th:src="@{/js/jquery.waypoints.min.js}"></script>
    <script th:src="@{/js/jquery.stellar.min.js}"></script>
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
    <script th:src="@{/js/aos.js}"></script>
    <script th:src="@{/js/jquery.animateNumber.min.js}"></script>
    <script th:src="@{/js/scrollax.min.js}"></script>
    <script th:src="@{/js/app/index.js}"></script>

    <!-- summernote -->
    <script th:src="@{/js/summernote-lite.js}"></script>
    <script th:src="@{/js/summernote-ko-KR.js}"></script>
<!--    <script>-->
<!--        $('.summernote').summernote({-->
<!--            height: 300,-->
<!--            lang: "ko-KR"-->
<!--        });-->
<!--    </script>-->

    <script>
        $('.summernote').summernote({
            height: 300,
            lang: "ko-KR",

            // 이미지 파일 첨부할 때 마다 콜백 함수 호출
            callbacks: {
                onImageUpload: function (files) {
                    // for (var i = files.length - 1; i >= 0; i--) {
                    for (var i = 0; i < files.length; i++) {
                        uploadSummernoteImageFile(files[i], this);
                        // onImageUpload: function (files) {
                        //         uploadSummernoteImageFile(files[0], this);
                        // console.log(files[0]);
                        console.log(files[i]);
                    }
                }
            }
        });

        function uploadSummernoteImageFile(file) {
            data = new FormData();
            data.append('file', file);

            $.ajax({
                data: data,
                type: 'POST',
                url: '/image',
                cache: false,
                enctype: 'multipart/form-data',
                contentType: false,
                processData: false,
                success: function (data) {
                    var imgurl = $('<img>').attr({
                        'src': data.url
                    });

                    $('.summernote').summernote('insertImage', imgurl);
                }
                // success: function (data) {
                //     $('.summernote').summernote('insertImage', data.url);
                // }
                // success: function (url) {
                    // data = JSON.parse(data);
                    // $('.summernote').summernote('insertImage', url);
                // }
            });
        }

    </script>

    <!-- google login button -->
<!--    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>-->
<!--    <script>-->
<!--        function onSuccess(googleUser) {-->
<!--            console.log('Logged in as: ' + googleUser.getBasicProfile().getName());-->
<!--        }-->
<!--        function onFailure(error) {-->
<!--            console.log(error);-->
<!--        }-->
<!--        function renderButton() {-->
<!--            gapi.signin2.render('my-signin2', {-->
<!--                'scope': 'profile email',-->
<!--                'width': 300,-->
<!--                'height': 45,-->
<!--                'longtitle': true,-->
<!--                'theme': 'dark',-->
<!--                'onsuccess': onSuccess,-->
<!--                'onfailure': onFailure-->
<!--            });-->
<!--        }-->
<!--    </script>-->
<!--    <script src="https://apis.google.com/js/platform.js" async defer></script>-->

    <script th:src="@{/js/main.js}"></script>
</th:block>
</html>