<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
  <head>
    <title>Hyeju-Board</title>
  </head>
  <th:block layout:fragment="content">
	  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
		  <section class="ftco-intro img" id="hotel-section" style="background-image: url('images/bg_5.jpg'); background-position: inherit;">
			  <div class="overlay"></div>
			  <div class="container">
				  <div class="row justify-content-center">
					  <div class="col-md-9 text-center">
<!--						  <h2>𝕎𝔼𝕃ℂ𝕆𝕄𝔼</h2>-->
<!--						  <p>·.̩₊̣.̩✧*̣̩˚̣̣⁺̣‧.₊̣̇.‧⁺̣˚̣̣*̣̩⋆·̩̩.̩̥·̩̩⋆*̣̩˚̣̣⁺̣‧.₊̣̇.‧⁺̣˚̣̣*̣̩✧·.̩₊̣.̩‧</p>-->
<!--						  <p class="mb-0"><a href="#" class="btn btn-white px-4 py-3">Book a room now</a></p>-->
					  </div>
				  </div>
			  </div>
		  </section>


		  <section class="ftco-section bg-light" id="blog-section">
			  <div class="container">
				  <div class="row justify-content-center mb-5 pb-5">
					  <div class="col-md-7 heading-section text-center ftco-animate">
						  <h3>📝</h3>
						  <h2 class="mb-4">Recent Post</h2>
						  <!--				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>-->
					  </div>
				  </div>
				  <div class="row d-flex">
					  <div class="col-md-6 col-lg-4 d-flex ftco-animate" th:each="recentPost : ${recentPostList}">
						  <div class="blog-entry justify-content-end">
							  <a th:href="@{'/posts/' + ${recentPost.id}}" class="block-20" th:style="${recentPost.getThumbFilePath == null} ? 'background-image: url(images/image_5.jpg)' : 'background-image: url('+ @{'/thumbnailImage/' + ${recentPost.thumbFileName}} +')'">
							  </a>
							  <div class="text float-right d-block">
								  <div class="d-flex align-items-center pt-2 mb-4 topp">
									  <div class="one mr-2">
										  <span class="day" th:text="${#temporals.format(recentPost.createdDate, 'dd')}"></span>
									  </div>
									  <div class="two">
										  <span class="yr" th:text="${#temporals.format(recentPost.createdDate, 'yyyy')}"></span>
										  <span class="mos" th:text="${#temporals.format(recentPost.createdDate, 'MM')}"></span>
									  </div>
								  </div>
								  <h3 class="heading"><a th:href="@{'/posts/' + ${recentPost.id}}"><span th:text="${recentPost.title}" style="display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 288px;"></span></a></h3>
								  <!--							<p style="width: 288px; height:79px;"><span th:text="${recentPost.content}"></span></p>-->
								  <div style="width: 288px; height:79px;">
									  <div th:with="content=${recentPost.content}" th:text="${T(org.jsoup.Jsoup).parse(content).text()}"
										   style="display: block; overflow: hidden; text-overflow: ellipsis; max-height: 100%; word-break: break-all">
									  </div>
								  </div>
								  <div class="d-flex align-items-center mt-4 meta">
									  <!--								<p class="mb-0"><a href="#" class="btn btn-primary">Read More <span class="ion-ios-arrow-round-forward"></span></a></p>-->
									  <p class="ml-auto mb-0">
										  <a th:href="@{'/posts/' + ${recentPost.id}}" class="mr-2"><span th:text="${recentPost.memberEntity.name}"></span></a>
										  <!--									<a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>-->
										  <span class="disqus-comment-count" th:data-disqus-identifier="${recentPost.id}">0 Comments</span>
									  </p>
								  </div>
							  </div>
						  </div>
					  </div>
				  </div>
		  </div>
		</section>


		  <!-- Disqus -->
		  <script id="dsq-count-scr" src="//hyeju-board.disqus.com/count.js" async></script>
		  <!-- Disqus End -->

	  </body>
  </th:block>
</html>